.popup__container-img {
    width: 100%;
    max-width: 75vw;
    max-height: 75vh;
    box-shadow: 0 0 25px rgb(0 0 0 / 15%);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    background:  rgba(0, 0, 0, 0);
}

/*@media screen and (max-width: 580px) {
    .popup__container-img {
        background:  rgba(0, 0, 0, 0);
    }
    } */